{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'formation/style.css' %}">
<nav>
    <div><a href="{% url 'formation:index' %}">Formation</a></div>
    <div><a href="{% url 'formation:calendar' %}">Calendrier</a></div>
    <div id="login_div">
        {% if user.is_authenticated %}
            <!-- Mes Formation (si Formateur) -->
            {% if user.formateur %}
                <button><a href="{% url 'formation:formation_list_current_formateur' user.formateur.id %}"> Mes
                    formation</a></button>
            {% endif %}

            <!-- Mes Inscription (si Students) -->
            {% if user.student %}
                <button><a href="{% url 'formation:formation_list_current_student' user.student.id %}"> Mes inscription</a>
            </button>
            {% endif %}

            <!-- User Name (debug) -->
            <div> {{ user }}</div>
            <!-- Login Button -->
            <button><a href="{% url 'logout' %}">Logout</a></button>
        {% else %}
            <button><a href="{% url 'login' %}">Login</a></button>
        {% endif %}
    </div>
</nav>
{% block content %}
{% endblock content %}