{% extends 'formation/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'formation/calendar.css' %}">
    <div class="panel panel-default" style="padding: 10px 20px 20px 20px">


    <div class="clearfix">
        <button class="button-prev">
            <a class=" btn-prev btn-info" href="{% url 'formation:calendar' %}?{{ prev_month }}"> Mois précédent </a>
        </button>
        <button class="button-next">
            <a class=" btn-next btn-info " href="{% url 'formation:calendar' %}?{{ next_month }}"> Mois suivant </a>
        </button>
    </div>
    {{ calendar }}
    </div>
{% endblock %}