{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="panel panel-default">
        <h1 class="title_formation_list_current_formateur">Liste des formations que vous organisez</h1>
        {% if formation_list %}
            <ul>
                {% for formation in formation_list %}
                    <li>
                        <a href="{% url 'formation:formation_detail' formation.id %}"> {{ formation.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune formation n'est disponible</p>
        {% endif %}
        {% if user.formateur %}
            <button class="new_formation_button">
                <a href="{% url 'formation:newFormationForm' %}"> Créer une nouvelle Formation </a>
            </button>
        {% endif %}
    </div>
{% endblock content %}