{% extends 'formation/base.html' %}
{% load static %}

{% block content %}
    <div class="formation_detail">
        <h1>Formation : {{ formation.name }} </h1>
        <p>Description : {{ formation.description }}</p>
        <p>Formateur : {{ formation.formateur.get_name }}</p>
        {% if formation.formateur.user == user %}
            <button class="modification_formation_button">
                <a href="{% url 'formation:updateFormation' formation.id %}">
                    Modifier la formation
                </a>
            </button>
            <button class="suppression_formation_button">
                <a href="{% url 'formation:deleteFormation' pk=formation.id %}">
                    Supprimer la formation
                </a>
            </button>
        {% endif %}
    </div>
    <div class="formation_session_table">
        <table>
            <tr>
                <th>Date de la session</th>
                <th>Lieu de la session</th>
                <th>Nombre d'élèves inscrit</th>
            </tr>
            {% for session in formation.sessionformation_set.all %}
                {% if session.is_open %}

                    <tr>
                        <td>
                            <a href="{% url 'formation:session_detail' session.id %}">
                                {{ session.date }}
                            </a>
                        </td>
                        <td>
                            {{ session.place }}
                        </td>
                        <td>
                            {{ session.get_count_registration }}/{{ session.max_students }}
                        </td>
                        <!-- Si student => button pour s'inscrire a la session -->
                        {% if user.is_authenticated and user.student and session.get_count_registration < session.max_students %}
                            <!-- Si student pas inscrit => button "S'inscrire"-->
                            {% if user.student.id not in session.is_student_registered %}
                                <td>
                                    <button class="registration_button"><a
                                            href="{% url 'formation:registrationSession' session.id %}">S'inscrire</a>
                                    </button>
                                </td>
                            {% else %}
                                <!-- Si student inscrit => button "Se désinscrire"-->
                                <td>
                                    <button class="cancel_registration_button"><a
                                            href="{% url 'formation:cancelRegistrationSession' session.id %}">Se
                                        désinscrire</a>
                                    </button>
                                </td>
                            {% endif %}
                        {% endif %}
                        <!-- Si formateur => buttons pour modifier et supprimer la session -->
                        {% if user.is_authenticated and session.formation.formateur == user.formateur %}
                            <td>
                                <button class="update_session_button"><a
                                        href="{% url 'formation:updateSession' session.id %}">Modifier la session</a>
                                </button>
                            </td>
                            <td>
                                <button class="suppression_session_button"><a
                                        href="{% url 'formation:deleteSession' session.id %}">Supprimer la session</a>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% if formation.formateur.user == user %}
        <button class="new_formation_button">
            <a href="{% url 'formation:newSessionForm' formation.id %}">
                Ajouter une nouvelle session
            </a>
        </button>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}
