{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    {% if formation_list %}
        <ul>
            {% for formation in formation_list %}
                <li><a href="{% url 'formation:formation_detail' formation.id %}"> {{ formation.name }}</a></li>
            {% endfor %}
        </ul>
        {% if user.formateur %}
            <button><a href="{% url 'formation:newFormationForm' %}"> New Formation </a></button>
        {% endif %}
    {% else %}
        <p>No formation are available</p>
    {% endif %}
{% endblock content %}