{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-10">
                <h2 class="title_formation_list_current_formateur">Liste des formations que vous organisez</h2>
            </div>
            <div class="col-md-2" style="margin-top: 20px">
                <div class="btn-group pull-right">
                    <button id="btn-action" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Actions
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-large row ">
                        {% if user.formateur %}
                            <li>
                                <a href="{% url 'formation:newFormationForm' %}" class="no_spinner">
                                    <form method="post" style="margin: 0">Ajouter une formation</form>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default" style="padding: 10px">

        {% if formation_list %}
            <ul>
                {% for formation in formation_list %}
                    <li>
                        <a href="{% url 'formation:formation_detail' formation.id %}"> {{ formation.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune formation n'est disponible</p>
        {% endif %}
    </div>
{% endblock content %}