{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="inscription_list_div">
        {% if inscription_list %}
            <ul>
                {% for inscription in inscription_list %}
                    <li>
                        <a href="{% url 'formation:session_detail' inscription.session.id %}"> {{ inscription.session.formation.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>Aucune inscription disponible</p>
        {% endif %}
        <button><a href="{% url 'formation:newInscriptionForm' %}"> Créer une nouvelle inscription </a></button>
    </div>
{% endblock content %}