{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="inscription_current_user_list">
        {% if inscription_formation_list %}
            <ul>
                {% for formation in inscription_formation_list %}
                    <li><a href="{% url 'formation:newInscriptionSessionForm' formation.id %}"> {{ formation.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No formation are available</p>
        {% endif %}
    </div>
{% endblock content %}
