{% extends 'formation/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="registration_list_div">
        <h1>Liste de vos inscription à des formations</h1>
        {% if registration_list %}
            <ul>
                {% for inscription in registration_list %}
                    <li>
                        <a href="{% url 'formation:session_detail' inscription.session.id %}"> {{ inscription.session.formation.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>Aucune inscription disponible</p>
        {% endif %}
        <button><a href="{% url 'formation:newRegistrationForm' %}"> Créer une nouvelle inscription </a></button>
    </div>
{% endblock content %}