nav {
    background-color: darkgray;
    padding: 10px;
}

nav div {
    display: inline-block;
}

.logout_button, .login_button {
    position: absolute;
    right: 5em;
    top: 0.5em;
}

td, th {
    border: 1px solid black;
}

.title_index_div{
    align-items: center;
}

.title_index{
    align-items: center;
    margin: 0 0 0 0;
    padding-top: 5px;
}

.block_content{
    vertical-align: center;
    align-self: center;
    background-color: beige;
    height: 100%;
    margin-inline: 10em;
    padding-inline: 2em;
}